@model List<Generwell.Web.ViewModels.MapViewModel>
@using Generwell.Modules.GenerwellConstants;

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZw0u8-boP_HQEsODAebX4zCrpzd8PqZk&callback=initMap">
</script>
<script>
    $(document).ready(function () {
            debugger;
            $.ajax({
                type: "GET",
                url: '/Map/plotMarker', 
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    var locations = data;

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 3,
                        minZoom: 3,
                        center: new google.maps.LatLng(locations[0].latitude, locations[0].longitude),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;

                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i].latitude, locations[i].longitude),
                            map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(locations[i].latitude);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
            });
        });
    </script>

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-right user-name"><label>Welcome &nbsp;</label>@GenerwellConstants.Constants.UserName</div>
            <div class="title ibox-title border-bottom">
                <h4>Map</h4>
            </div>
            <div class="ibox float-e-margins">
                <div id="map" class="ibox-content map"></div>
                <div class="float-right form-group"><img id="moveTop" src="~/images/back-to-top.png" class="h-fourty" /></div>
            </div>
        </div>
    </div>
</div>
