@model List<Generwell.Web.ViewModels.MapViewModel>
@using Generwell.Modules.GenerwellConstants;

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZw0u8-boP_HQEsODAebX4zCrpzd8PqZk">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer.js"></script>

@*<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZw0u8-boP_HQEsODAebX4zCrpzd8PqZk&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer.js"></script>*@

<script>
    $(document).ready(function () {
        debugger;    
        $.ajax({
            type: "GET",
            url: '/Map/plotMarker',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                var locations = data;

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 25,
                    minZoom: 5,
                    center: new google.maps.LatLng(locations[0].latitude, locations[0].longitue),
                    disableDefaultUI: true,
                    scaleControl: true,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    mapTypeControl: true,
                    draggableCursor: 'move',
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow({
                    maxWidth: 160
                });

                ////show geological location
                //if (navigator.geolocation) {
                //    navigator.geolocation.getCurrentPosition(showPosition);
                //} else {
                //    alert("Geolocation is not supported by this browser.");
                //}

                //function showPosition(position) {
                //    var lat = position.coords.latitude;
                //    var lng = position.coords.longitude;
                //    map.setCenter(new google.maps.LatLng(lat, lng));
                //}

                var markers = new Array();

                // Add the markers and infowindows to the map
                var markers = [];
                for (var i = 0; i < locations.length; i++) {
                    var latLng = new google.maps.LatLng(locations[i].latitude, locations[i].longitude);
                    var marker = new google.maps.Marker({ 'position': latLng });
                    if (locations[i].isFavorite == true) {
                        marker.setIcon('/images/favorite-location.png');
                    }
                    else {
                        marker.setIcon('/images/location.png');
                    }

                    markers.push(marker);

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<img src="/images/car-Icon.png" /> &nbsp; <a href="/Well/Index">' + locations[i].name) + '</a>';
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
                //var markerCluster = new MarkerClusterer(map, markers, { imagePath: '~/images/m1.png' });
                var markerCluster = new MarkerClusterer(map, markers,
                                    {
                                        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
                                    });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i].name);
                        infowindow.open(map, marker);
                    }
                })(marker, i));


                function autoCenter() {
                    //  Create a new viewpoint bound
                    var bounds = new google.maps.LatLngBounds();
                    //  Go through each...
                    for (var i = 0; i < markers.length; i++) {
                        bounds.extend(markers[i].position);
                    }
                    //  Fit these bounds to the map
                    map.fitBounds(bounds);
                }
                autoCenter();
            }
        });
    });
</script>

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-right user-name"><label>Welcome &nbsp;</label>@GenerwellConstants.Constants.UserName</div>
            <div class="title ibox-title border-bottom">
                <h4>Map</h4>
            </div>
            <div class="ibox float-e-margins">
                <div id="map" class="ibox-content map"></div>
                <div class="float-right form-group"><img id="moveTop" src="~/images/back-to-top.png" class="h-fourty" /></div>
            </div>
        </div>
    </div>
</div>
