Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.deps.json
Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.runtimeconfig.dev.json
Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.runtimeconfig.json
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/.IncrementalCache
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/.SDKVersion
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/Generwell.Webdotnet-compile.deps.json
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
/Generwell/src/Generwell.Core/*.user
/Generwell/src/Generwell.Core/bin/Debug/netstandard1.6
/Generwell/src/Generwell.Core/obj/Debug/netstandard1.6
/Generwell/src/Generwell.Modules/bin/Debug/netstandard1.6/*.dll
/Generwell/src/Generwell.Modules/bin/Debug/netstandard1.6/*.pdb
/Generwell/src/Generwell.Modules/bin/Debug/netstandard1.6
/Generwell/src/Generwell.Modules/obj/Debug/netstandard1.6
/Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/*.dll
/Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/*.pdb
/Generwell/src/Generwell.Web/*.user
/Generwell/src/Generwell.Modules/*.user
/Generwell/.vs/Generwell/v14/*.suo
/Generwell/src/Generwell.Web/*.config
/Generwell/src/Generwell.Core/bin/Release/netstandard1.6
/Generwell/src/Generwell.Core/obj/Release/netstandard1.6
/Generwell/src/Generwell.Modules/bin/Release/netstandard1.6/*.dll
/Generwell/src/Generwell.Modules/bin/Release/netstandard1.6/*.pdb
/Generwell/src/Generwell.Modules/bin/Release/netstandard1.6
/Generwell/src/Generwell.Modules/obj/Release/netstandard1.6
/Generwell/src/Generwell.Web/Properties/PublishProfiles/*.psm1
/Generwell/src/Generwell.Web/Properties/PublishProfiles
/Generwell/src/Generwell.Web/bin/Release/netcoreapp1.0
/Generwell/src/Generwell.Web/obj/PublishTemp/TestProfilesForFilePreview
/Generwell/src/Generwell.Web/obj/Release/netcoreapp1.0
