Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.deps.json
Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.runtimeconfig.dev.json
Generwell/src/Generwell.Web/bin/Debug/netcoreapp1.0/Generwell.Web.runtimeconfig.json
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/.IncrementalCache
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/.SDKVersion
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/Generwell.Webdotnet-compile.deps.json
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
Generwell/src/Generwell.Web/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
