@model List<Generwell.Web.ViewModels.WellViewModel>

@{
    ViewBag.Title = "Well Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="wrapper wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Well Listing</h2>
                </div>
                <hr />
                <div class="dropdown">
                    <label>Filter</label>
                    @Html.DropDownList("FilterList", (IEnumerable<SelectListItem>)ViewBag.FilterList, "--Select--", new { @class = "form-control btn btn-primary dropdown-toggle w-10" })
                    <span class="ml-20 iradio_square-green"><input type="checkbox" id="IsFavorite" name="IsFavorite" /> My Wells<br></span>
                    @*<span id="IsFavorite" class="ml-20 iradio_square-green">
                        <img src="~/images/checkbox.png" alt="Alternate Text" />
                        <label>My Wells</label>
                    </span>*@
                </div>
                <br />
                <hr />
                <div id="wellTableDivId" class="ibox-content">
                    @Html.Partial("_FilterWell", Model)
                </div>
            </div>
        </div>
    </div>
</div>

