@model List<Generwell.Web.ViewModels.WellViewModel>

@{
    ViewBag.Title = "Well Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="title ibox-title border-bottom">
                    <h4>Well Listing</h4>
                </div>
                <div class="i-checks chk border-bottom pt-pb-20">
                    <span class=""><input type="checkbox" id="IsFavorite" name="IsFavorite" /><label class="ml-10">  My Wells</label></span>
                    <span class="float-right">
                        <label class="mr-20">Filter</label>
                        @Html.DropDownList("FilterList", (IEnumerable<SelectListItem>)ViewBag.FilterList, "--Select--", new { @class = "form-control btn button dropdown dropdown-toggle w-10 mr-20" })
                    </span>
                </div>
                <div id="wellTableDivId" class="ibox-content pt">
                    @Html.Partial("_FilterWell", Model)
                </div>
            </div>
        </div>
    </div>
</div>

