@model Generwell.Modules.ViewModels.AlbumViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-right user-name"><label>Welcome &nbsp;</label>@Context.Session.GetString("UserName")</div>
            <div class="ibox float-e-margins">
                <div class="title ibox-title border-bottom">
                    <h4><img src="~/images/welldetails-icon.png" class="pb-5" />&nbsp;Pictures</h4>
                </div>
                <div class="i-checks chk border-bottom pt-pb-20">                    
                    <input type="button" class="btn button float-right mt-17 ml-10" name="Edit" value="Edit" />
                    <input id="addPicture" type="button" class="btn button float-right mt-17" name="Add" value="Add" />
                </div>
                <div id="pictureDiv" class="ibox-content pt">
                    @Html.Partial("_Picture",Model.pictures)
                </div>
            </div>
        </div>
    </div>
</div>

