/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-star,
.iradio_square-star {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    background: url('../images/mywell-disable.png') no-repeat;
}

.icheckbox_square-star {
    background-position: 0 0;
}
.icheckbox_square-star.hover {
    /*background-position: -24px 0;*/
}
.icheckbox_square-star.checked {
    background-position: 48px 0;
    background: url('../images/mywell-selected.png') no-repeat;
}
.icheckbox_square-star.disabled {
    background-position: 72px 0;
    cursor: default;
}
.icheckbox_square-star.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-star {
    background-position: -120px 0;
}
.iradio_square-star.hover {
    background-position: -144px 0;
}
.iradio_square-star.checked {
    background-position: -168px 0;
}
.iradio_square-star.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-star.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-star,
    .iradio_square-star {
        background-image: url('../images/mywell-disable.png');
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}