@model Generwell.Web.ViewModels.ContactFieldsViewModel


@*<script type="text/javascript">
        $(document).ready(function () {
            TaskDetailsPage.initialize(@GenerwellConstants.Constants.TaskId);
        });
    </script>*@


<div id="contactFieldsListTableId" class="col-md-12 col-lg-12">      
    <div class="col-md-12 col-lg-12">
        @*<label>User Name:</label>*@
        <span><i class="glyphicon glyphicon-user"></i></span>: 
        @Model.userName
    </div>
    <div class="col-md-12 col-lg-12">
        <label>Email Business:</label>
        @Model.emailBusiness
    </div>
    <div class="col-md-12 col-lg-12">
        <label>Phone Business:</label>
        @Model.phoneBusiness
    </div>

</div>




