<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Generwell.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <link href="~/css/processing-model.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*added for datatable*@
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="~/js/Datatable.js"></script>
    <script src="~/js/Well/Well.js"></script>
    <script src="~/js/Login/Login.js"></script>
    <script src="~/js/WellDetails/WellDetails.js"></script>
    <script src="~/js/WellLineReport/WellLineReport.js"></script>

    @*//Added for checkbox filter*@
    @*<link href="~/Scripts/yadcf-0.9.1/jquery.dataTables.yadcf.css" rel="stylesheet" />
        <script src="~/Scripts/yadcf-0.9.1/jquery.dataTables.yadcf.js"></script>*@

    <style>
        /*table data width*/
        
        /*To add navignation menues(15.11.2016)-rohit*/

       #menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0px;
            overflow: hidden;
            /*background-color: #333;*/
            background-color: #1B365D;
        }

        li {
            float: right;
            font-family:"'Open Sans', sans-serif";
        }

            li a {
                display: inline-block;
                color: white;
                text-align: center;
                /*padding: 19px 16px;*/
                padding: 40px 20px;
                text-decoration: none !important;
            }

                li a:hover:not(.active) {
                    background-color: #c5cfda;
                }

                li a:hover {
                    color: #e29f35 !important;
                }

         li a:active{
            background-color: #4CAF50;
        }      
        


          
    </style>

   

    <title>@ViewBag.Title</title>
</head>


<body>
    <div id="menu">
        <ul>
            <li><a href="#">LOCATIONS</a></li>
            <li><a href="#">PROJECTS</a></li>
            <li><a href="#">PIPELINES</a></li>
            <li><a href="#">FACILITIES</a></li>
            <li><a href="/Well/Index">WELLS</a></li>
            <li><a href="/Task/Index">TASKS</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
  <!--TOP menuebar-->


</html>
