@model List<Generwell.Modules.ViewModels.PictureViewModel>
@using Newtonsoft.Json;
<script type="text/javascript">
    $(document).ready(function () {
        picturePage.initialize();
    });
</script>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="lightBoxGallery">
                        @foreach (var pictureItem in Model)
                        {
                            string base64StringFormat = Convert.ToBase64String(pictureItem.picture);
                            string fileUrl = JsonConvert.SerializeObject(pictureItem.fileUrl);
                            string label = JsonConvert.SerializeObject(pictureItem.label);
                            string comment = JsonConvert.SerializeObject(pictureItem.comment);
                            string id = JsonConvert.SerializeObject(pictureItem.id);
                            string albumId = JsonConvert.SerializeObject(pictureItem.albumId);
                            
                            <div class="col-sm-3 col-xs-6 col-md-2">
                                <div class="thumbnail wh-150 border-blue">
                                    <a id="" href="#" title="Image from Unsplash" data-gallery="">
                                        <img id="@pictureItem.id" src="data:image/jpeg;base64,@base64StringFormat" onclick="picturePage.editPicture(@fileUrl, @label, @comment, @id, @albumId);" class="img-thumbnail wh-130 img-responsive" alt="@pictureItem.label" asp-append-version="true">
                                    </a>
                                </div>
                                <div class="caption">
                                    <p class="text-center">@pictureItem.label</p>
                                </div>
                            </div>
                        }
                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        @*<div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                            <div class="slides" style="width: 98352px;"></div>
                            <h3 class="title">Image from Unsplash</h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>*@
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

