@model List<Generwell.Modules.ViewModels.PictureViewModel>
@using Generwell.Modules.GenerwellConstants;

<script type="text/javascript">
    $(document).ready(function () {
        picturePage.initialize();
    });
</script>


<table id="picture" class="table-striped table table-bordered table-hover dataTable no-footer" style="width:100%;">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr class="gradeU">
             @foreach (var pictureItem in Model)
             {
                    <td><img src="" alt="company logo" asp-append-version="true" /></td>
            }
        </tr>
    </tbody>
</table>
